<form #form="ngForm" (ngSubmit)="log(form, accModel, pwdModel)">
  <p id="acc-wrap">
    <label for="account">帳號：</label>
    <input
      type="email"
      name="account"
      id="account"
      required
      pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b"
      #accModel="ngModel"
      [ngModel]="account"
      (ngModelChange)="accountValueChange(accModel.value, accModel.errors)" />
    <br />
    <span class="error-msg">{{ accountErrorMsg }}</span>
  </p>
  <p id="pwd-wrap">
    <label for="password">密碼：</label>
    <input
      type="password"
      name="password"
      id="password"
      required
      #pwdModel="ngModel"
      minlength="8"
      maxlength="16"
      (ngModelChange)="pwdValueChange(pwdModel.value, pwdModel.errors)"
      [ngModel]="pwd" />
    <br />
    <span class="error-msg">{{ pwdErrorMsg }}</span>
  </p>
  <p>
    <button type="submit" [disabled]="form.invalid">登入</button>
  </p>
</form>
